@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-secodory : #111827 ;
  --color-primary : #FF4C22 ;
}

body {
  font-family: "Poppins", sans-serif;
}



@layer components {
  .title-hover-style {
    @apply relative text-secodory hover:opacity-90 after:content-[''] after:absolute after:left-0 after:bottom-[-10px] after:w-0 after:h-[2px] after:bg-black hover:after:w-3/4 after:transition-all after:duration-300 before:content-[''] before:absolute before:bg-amber-600 before:h-[2px] before:w-0 before:right-0 before:bottom-[-10px] hover:before:w-1/4 before:duration-300 before:transition-all;
  }
}